<launch>
    <rosparam file="$(find unified_hw)/test/hw.yaml" command="load" />

    <arg name="hardware_interface" default="EffortJointInterface"/>

    <param name="robot_description"
           command="$(find xacro)/xacro $(find photo_station_v2)/urdf/test.xacro hardware_interface:=$(arg hardware_interface)"/>

    <node name="unified_hw" pkg="unified_hw" type="unified_hw" respawn="false"
          clear_params="true" />
</launch>
